@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/User/_Layout.cshtml";
}

<a asp-action="BookView" asp-controller="Books">Requested, Go back to Browsing
</a>